<%= javascript_include_tag "custom_main" %>
<body class="bg-slate-900">
  <nav class="mx-auto h-18 block border flex border-white/80 bg-white bg-opacity-65 text-white shadow-md flex-wrap backdrop-blur-2xl backdrop-saturate-200 px-8 py-4 items-center justify-between">
    <div class="inline-block">
      <a class="font-sans text-lg text-black" href="#">Material Tailwind</a>
    </div>
    <div class="flex flex-col lg:inline-block hidden" id="navbar">
        <a class="flex text-lg font-sans text-black lg:inline-block px-8 md:px-6 lg:px-8 xl:px-10 2xl:px-12" href="#">
          Projects
        </a>
        <a class="flex text-lg font-sans text-black lg:inline-block lg:px-8 xl:px-10 2xl:px-12" href="#">
          Certificates
        </a>
        <a class="flex text-lg font-sans text-black lg:inline-block lg:px-8 xl:px-10 2xl:px-12" href="#">
          Skills
        </a>
        <a class="flex text-lg font-sans text-black lg:inline-block lg:px-8 xl:px-10 2xl:px-12" href="#">
          Contact
        </a>
      </div>
      <label for="themeSwitcherTwo" class="hidden lg:relative lg:inline-flex lg:cursor-pointer lg:select-none lg:items-center" id="navbar_toggle_button">
          <input type="checkbox" name="themeSwitcherTwo" id="themeSwitcherTwo" class="sr-only">
          <span class="label flex items-center text-lg font-medium text-black">Light</span>
          <span class="slider mx-4 flex h-6 w-[48px] items-center rounded-full bg-[#CCCCCE] p-1 duration-200">
            <span class="dot h-4 w-5 rounded-full bg-white duration-200"></span>
          </span>
          <span class="label flex items-center text-lg font-medium font-sans text-black">Dark</span>
      </label>

<%# <script>
  const themeSwitcherTwo = document.getElementById('themeSwitcherTwo');
  const slider = document.querySelector('.slider');
  const dot = document.querySelector('.dot');
  

  themeSwitcherTwo.addEventListener('change', function() {
    if (this.checked) {
      // Switch to Dark theme
      slider.style.backgroundColor = '#444';
      dot.style.transform = 'translateX(100%)';
    } else {
      // Switch to Light theme
      slider.style.backgroundColor = '#CCCCCE';
      dot.style.transform = 'translateX(0)';
    }
  });
</script> %>

  </nav>
</body>