<body class="bg-slate-900">
  <%= javascript_include_tag "custom_main" %>
  <nav class="mx-auto mt-4 h-18 block w-full max-w-screen-2xl rounded-xl border flex border-white/80 bg-white bg-opacity-65 py-2 px-4 text-white shadow-md flex-wrap backdrop-blur-2xl backdrop-saturate-200 lg:px-8 lg:py-4 items-center justify-between ">
    <div class="inline-block">
          <a class="font-sans text-lg font-normal text-black" href="#">Material Tailwind</a>
    </div>
    <div class="block lg:hidden">
      <button id="navbar_toggle_button" class="flex flex-col px-3 py-2 border rounded border-gray-800 transition-colors duration-400 hover:bg-gray-800 group">
        <div class="w-6 h-1 bg-black rounded-full transition-colors duration-400 group-hover:bg-white"></div>
        <div class="w-6 h-1 bg-black my-1 rounded-full transition-colors duration-400 group-hover:bg-white"></div>
        <div class="w-6 h-1 bg-black rounded-full transition-colors duration-400 group-hover:bg-white"></div>
      </button>
    </div>
    <div class=" container pr-40 mx-auto flex items-center justify-between w-full lg:w-auto block lg:inline-block hidden" id="navbar">
      <div class="lg:flex-grow text-2xl text-center space-x-2">
        <a class="hidden"></a>
        <a class="flex items-center text-lg text-black lg:inline-block px-2" href="#">
          Pages
        </a>
        <a class="flex items-center text-lg text-black lg:inline-block px-2" href="#">
          Account
        </a>
        <a class="flex items-center text-lg text-black lg:inline-block px-2" href="#">
          Blocks
        </a>
        <a class="flex items-center text-lg text-black lg:inline-block px-2" href="#">
          Docs
        </a>
        
      </div>
    </div>
  </nav>
</body>